In [3]:
import pandas as pd
import numpy as np
import cudf

In [4]:
df = cudf.read_csv("lr.csv")
#df = cudf.read_csv("lr_keerthi.csv")

In [5]:
print('data',df.shape)
print(df.head())

data (21721922, 45)
   YEAR  DATANUM  SERIAL CBSERIAL  HHWT  CPI99  GQ  QGQ  PERNUM  PERWT  ...  \
0  1970        2       1     <NA>   100   4.54   1  0.0       1    100  ...
1  1970        2       1     <NA>   100   4.54   1  0.0       2    100  ...
2  1970        2       2     <NA>   100   4.54   1  0.0       1    100  ...
3  1970        2       2     <NA>   100   4.54   1  0.0       2    100  ...
4  1970        2       4     <NA>   100   4.54   1  0.0       1    100  ...

   EDUCD_POP EDUCD_SP  EDUCD_MOM2 EDUCD_POP2 INCTOT_HEAD  INCTOT_MOM  \
0       <NA>     30.0        <NA>       <NA>     12450.0        <NA>
1       <NA>     60.0        <NA>       <NA>     12450.0        <NA>
2       <NA>     60.0        <NA>       <NA>      9050.0        <NA>
3       <NA>     70.0        <NA>       <NA>      9050.0        <NA>
4       <NA>     23.0        <NA>       <NA>      7450.0        <NA>

  INCTOT_POP INCTOT_SP  INCTOT_MOM2 INCTOT_POP2
0       <NA>    3450.0         <NA>        <NA>
1       <NA>   12450.0         <NA>        <NA>
2       <NA>       0.0         <NA>        <NA>
3       <NA>    9050.0         <NA>        <NA>
4       <NA>     650.0         <NA>        <NA>

[5 rows x 45 columns]

# How many people earn more than 10 Million $ in the year 2010

In [6]:
tdf = df.query('INCTOT >= 1000000 and YEAR==2010')

In [7]:
print("Total number of people = ",tdf['INCTOT'].count())

# Big Picture

In [8]:
print(df.groupby('YEAR')['INCTOT'].mean())

YEAR
1970    2.677882e+06
1980    2.296695e+06
1990    2.324673e+06
2000    2.188474e+06
2010    1.879017e+06
Name: INCTOT, dtype: float64

In [11]:
print(df.shape)
df.head()

,YEAR,DATANUM,SERIAL,CBSERIAL,HHWT,CPI99,GQ,QGQ,PERNUM,PERWT,...,EDUCD_POP,EDUCD_SP,EDUCD_MOM2,EDUCD_POP2,INCTOT_HEAD,INCTOT_MOM,INCTOT_POP,INCTOT_SP,INCTOT_MOM2,INCTOT_POP2
0,1970,2,1,<NA>,100,4.54,1,0.0,1,100,...,<NA>,30.0,<NA>,<NA>,12450.0,<NA>,<NA>,3450.0,<NA>,<NA>
1,1970,2,1,<NA>,100,4.54,1,0.0,2,100,...,<NA>,60.0,<NA>,<NA>,12450.0,<NA>,<NA>,12450.0,<NA>,<NA>
2,1970,2,2,<NA>,100,4.54,1,0.0,1,100,...,<NA>,60.0,<NA>,<NA>,9050.0,<NA>,<NA>,0.0,<NA>,<NA>
3,1970,2,2,<NA>,100,4.54,1,0.0,2,100,...,<NA>,70.0,<NA>,<NA>,9050.0,<NA>,<NA>,9050.0,<NA>,<NA>
4,1970,2,4,<NA>,100,4.54,1,0.0,1,100,...,<NA>,23.0,<NA>,<NA>,7450.0,<NA>,<NA>,650.0,<NA>,<NA>

In [12]:

keep_cols = ['YEAR', 'DATANUM', 'SERIAL', 'CBSERIAL', 'HHWT', 'GQ', 'PERNUM', 'SEX', 'AGE', 'INCTOT', 'EDUC', 'EDUCD', 'EDUC_HEAD', 'EDUC_POP', 'EDUC_MOM', 'INCTOT_MOM','INCTOT_POP', 'INCTOT_HEAD', 'SEX_HEAD']
df = df.loc[:, keep_cols]
#df = df.drop(col for col in df.columns if col not in keep_cols)
for i in range(0, len(keep_cols)):
    df[keep_cols[i]] = df[keep_cols[i]].fillna(-1)
    #print(keep_cols[i], df[keep_cols[i]].value_counts())
    df[keep_cols[i]]= df[keep_cols[i]].astype('float64')

In [13]:
df.head()

,YEAR,DATANUM,SERIAL,CBSERIAL,HHWT,GQ,PERNUM,SEX,AGE,INCTOT,EDUC,EDUCD,EDUC_HEAD,EDUC_POP,EDUC_MOM,INCTOT_MOM,INCTOT_POP,INCTOT_HEAD,SEX_HEAD
0,1970.0,2.0,1.0,-1.0,100.0,1.0,1.0,1.0,39.0,12450.0,6.0,60.0,6.0,-1.0,-1.0,-1.0,-1.0,12450.0,1.0
1,1970.0,2.0,1.0,-1.0,100.0,1.0,2.0,2.0,36.0,3450.0,3.0,30.0,6.0,-1.0,-1.0,-1.0,-1.0,12450.0,1.0
2,1970.0,2.0,2.0,-1.0,100.0,1.0,1.0,1.0,56.0,9050.0,7.0,70.0,7.0,-1.0,-1.0,-1.0,-1.0,9050.0,1.0
3,1970.0,2.0,2.0,-1.0,100.0,1.0,2.0,2.0,54.0,0.0,6.0,60.0,7.0,-1.0,-1.0,-1.0,-1.0,9050.0,1.0
4,1970.0,2.0,4.0,-1.0,100.0,1.0,1.0,1.0,82.0,7450.0,1.0,17.0,1.0,-1.0,-1.0,-1.0,-1.0,7450.0,1.0

In [14]:
men = df.query('SEX_HEAD ==1.0')

In [15]:
print("Total number of Head of the family who are men = ", men['SEX_HEAD'].count())

Total number of Head of the family who are men =  15896268

In [16]:
women = df.query('SEX_HEAD ==2.0')

In [17]:
print("Total number of Head of the family who are men = ", women['SEX_HEAD'].count())

Total number of Head of the family who are men =  5256735

# Highest Salary of men vs women

In [18]:
hi_men = df.query('SEX_HEAD ==1.0')

In [19]:
hi_men.groupby('YEAR')['INCTOT'].max()

YEAR
1970.0    9999999.0
1980.0    9999999.0
1990.0    9999999.0
2000.0    9999999.0
2010.0    9999999.0
Name: INCTOT, dtype: float64

In [20]:
hi_women = df.query('SEX_HEAD ==2.0')

In [21]:
hi_women.groupby('YEAR')['INCTOT'].max()

YEAR
1970.0    9999999.0
1980.0    9999999.0
1990.0    9999999.0
2000.0    9999999.0
2010.0    9999999.0
Name: INCTOT, dtype: float64

# Highest Edu of men vs women

In [22]:
hi_men.groupby('YEAR')['EDUCD'].max()

YEAR
1970.0    111.0
1980.0    113.0
1990.0    116.0
2000.0    116.0
2010.0    116.0
Name: EDUCD, dtype: float64

In [23]:
hi_women.groupby('YEAR')['EDUCD'].max()

YEAR
1970.0    111.0
1980.0    113.0
1990.0    116.0
2000.0    116.0
2010.0    116.0
Name: EDUCD, dtype: float64

In [24]:
del(men)
del(women)
del(hi_men)
del(hi_women)

# Lets apply Logistic Regression

In [25]:
from cuml.preprocessing.model_selection import train_test_split
from cuml.linear_model import LogisticRegression
import cuml
import cupy

In [26]:
reg = LogisticRegression()

In [27]:
X = df['EDUC']
X.head()

0    6.0
1    3.0
2    7.0
3    6.0
4    1.0
Name: EDUC, dtype: float64

In [28]:
y = df['INCTOT']
y.head()

0    12450.0
1     3450.0
2     9050.0
3        0.0
4     7450.0
Name: INCTOT, dtype: float64

In [29]:
df_org = df.iloc[0:1000000]

In [30]:
yCol = "INCTOT"
X_train, X_test, y_train, y_test = cuml.preprocessing.model_selection.train_test_split(df_org,yCol, train_size=.75)
reg.fit(X_train, y_train)

LogisticRegression(penalty='l2', tol=0.0001, C=1.0, fit_intercept=True, max_iter=1000, linesearch_max_iter=50, verbose=4, l1_ratio=None, solver='qn', handle=<cuml.common.handle.Handle object at 0x7f154e616f50>, output_type='cudf')

In [31]:
y_pred = reg.predict(X_test)
y_test

64429           0.0
136570    9999999.0
977270    9999999.0
472610       2450.0
322249    9999999.0
            ...
305761        450.0
43148        8550.0
367003      13150.0
940308          0.0
724738         50.0
Name: INCTOT, Length: 250000, dtype: float64

In [32]:
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(reg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.17

In [33]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

TypeError: Implicit conversion to a host NumPy array via __array__ is not allowed, To explicitly construct a GPU array, consider using cupy.asarray(...)
To explicitly construct a host array, consider using .to_array()

In [ ]:
import matplotlib.pyplot as plt

plt.plot(y_test, y_pred)
plt.show()